* {
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-align: center
}

body {
    background-color: #bec7da;
}

#userHand {
    display: grid;
    grid-auto-flow: column;
    grid-template-rows: repeat(4, 1fr);
    background-color: #2e394e;
    width: fit-content;
    height: auto;
    overflow-y: auto; /* Scroll if content overflows */
    border-radius: 15px;
    margin: 0 auto;
    justify-content: center;
    gap: 10px;
}

#cardHolder {
    display: grid;
    grid-auto-flow: row;
    grid-template-columns: repeat(4, 1fr);
    background-color: #2e394e;
    width: fit-content;
    height: auto;
    overflow-y: auto; /* Scroll if content overflows */
    border-radius: 15px;
    margin: 0 auto;
    justify-content: center;
    gap: 10px;
}

#userHand, #cardHolder {
    overflow-y: auto;
}

#userHand img {
    width: 50px;
    padding: 3px;
    margin: 5px;
    height: auto;
    border: 3px solid black;
}

#cardHolder img {
    padding: 5px;
    margin: 10px;
    width: 100px;
    border: 3px solid black;
}

#cardHolder img, #userHand img {
    transition: border-color 0.3s ease, width 1s ease, height 1s ease;
}

#cardHolder img:hover, #cardHolder img.picked {
    border-color: green;
    width: 105px;
    height: auto;
}

#userHand img:hover {
    border-color: green;
    width: 55px;
    height: auto;
}


img {
    background-color: white;
    border-radius: 15px;
    height: auto;
}

